body{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    align-items: center;
}
h1{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    border: black solid 2px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr ;
    width: 900px;
    height: 800px

}
.gcell{
    border: solid black 2px;
}